<!-- START: BODY -->
<div class="MainBody2">
    <div class="New_Column_1">
        <div class="MainImgCorrina">
            <img class="ResizableBGgmg2" src="images/Corrina_Main.png" height="614" width="630" />
        </div>
    </div>

    <div class="New_Column_2">
        <p class="New_BodyText_Header">Corrina Black is a Seattle area Creative</p>
        <p class="New_BodyText">At this time, I'm a Principal Program Manager driving experience<br />definition for aspects of Microsoft Windows. Recently, I was a<br />Principal Product Designer in Microsoft Research (MSR)<br />leading design for a consumer IoT/AI business incubation<br />project. Prior to MSR, I led design for Entertainment,<br />Camera, Productivity, and App experiences in<br />Windows Phone. I also led an effort to enhance<br />the Windows Phone app ecosystem by helping<br />designers and developers learn how to create<br />well-designed 3rd-party apps. Prior to that, I<br />contributed to the developer experience for<br />Silverlight, Windows Phone, Windows 8,<br />and XBOX.</p>
        <br />
        <p class="New_BodyText">I studied Computer Science at the University of<br />Washington and have practiced design for 16+<br />years. Born and raised in the Seattle area, I<br />enjoy the beauty and variety of outdoor<br />activities it has to offer. I also enjoy<br />spending time with family and friends<br />as well as meeting new people on<br /><a class="Links" href="https://www.linkedin.com/pub/corrina-black/7/4b3/202">LinkedIn</a>, <a class="Links" href="https://twitter.com/corrinab">Twitter</a> or <a class="Links" href="http://instagram.com/corrina_b">Instagram</a>.</p>
    </div>
</div>
<!-- END: BODY -->