<!-- START: BODY -->
<div class="MainBody2">
    <div class="New_Column_1">
        <div class="MainImgCorrina">
            <img class="ResizableBGgmg2" src="images/Corrina_Main.png" height="614" width="630" />
        </div>
    </div>

    <div class="New_Column_2">
        <p class="New_BodyText_Header">Corrina Black is a Seattle area Creative</p>
        <p class="New_BodyText">I'm currently driving product experience for a new social networking<br />venture. Previously, I worked at Microsoft in various areas including<br />Windows as a Program Manager focused on future product<br />envisioning, Microsoft Research as a Design Lead focused<br />on consumer IoT/AI business incubation projects, Microsoft<br />IoT as a Design Lead focused on future product envisioning,<br />and Windows Phone as a Design Lead for core app<br />experiences including Camera, Photos, Entertainment,<br />Browser, Productivity, and 3rd-party apps such as<br />Pandora. I also led design for the Windows Phone<br />developer portal, and for Web, Windows Phone,<br />Windows, and XBOX platform and tooling<br />experiences. The tie that binds all of my<br />work is a passion for crafting empowering,<br />appropriate, and delightful experiences that<br />enable people to envision, create, and do<br />more for themselves and others.</p>
        <br />
        <p class="New_BodyText">I earned a BS in CS from the University of<br />Washington, and have practiced People<br />Centered Design for my entire career.<br />Continual learning, helping others<br />unlock growth opportunities and<br />new experiences, travel, music, and<br />adventure makes me smile.</p>
        <br />
    </div>
</div>
<!-- END: BODY -->