<!-- START: BODY -->
<div class="MainBody2">
    <div class="New_Column_1">
        <div class="MainImgCorrina">
            <img class="ResizableBGgmg2" src="images/Corrina_Main.png" height="614" width="630" />
        </div>
    </div>

    <div class="New_Column_2">
        <p class="New_BodyText_Header">Corrina Black is a Seattle area Creative</p>
        <p class="New_BodyText">I'm a Principal Program Manager driving experience definition for<br />aspects of Microsoft Windows. Recently, I was a Principal Product<br />Design Lead in Microsoft Research (MSR) driving design for a<br />consumer IoT/AI business incubation project. Prior to MSR, I<br />led design for Entertainment, Camera, Productivity, and App<br />experiences in Windows Phone. I also led an effort to<br />enhance the Windows Phone app ecosystem by<br />teaching app creators how to make well-designed<br />3rd-party apps. Prior to that, I contributed to the<br />developer experience for Silverlight, Windows<br />Phone, Windows 8, and XBOX.</p>
        <br />
        <p class="New_BodyText">I studied Computer Science at the University<br />of Washington and have practiced in design<br />for 16+ years. Born and raised in the Seattle<br />area, I enjoy the beauty and variety of outdoor<br />activities it has to offer. I also enjoy spending<br />time with family and friends as well as meeting<br />people on <a class="Links" href="https://www.linkedin.com/pub/corrina-black/7/4b3/202">LinkedIn</a>, <a class="Links" href="https://twitter.com/corrinab">Twitter</a> or <a class="Links" href="http://instagram.com/corrina_b">Instagram</a>.</p>
        <br />
        <p class="New_BodyText">A quick note. The site provides a peek into<br />my design work and it is also a medium<br />for my explorations in design and<br />development. Currently, I'm tinkering<br />with Angular, JQuery, and GAE.</p>
    </div>
</div>
<!-- END: BODY -->