<!-- START: SUBHEADER -->
<div autoscroll="false" subheader5-template></div>
<!-- END: SUBHEADER -->

<!-- START: BODY -->
<div class="MainBody">
    <div class="New_Column_1">
        <div class="MainImg">
            <img class="ResizableBGgmg" src="images/Accel_Main.png" height="661" width="647" />
        </div>
    </div>
    <div class="New_Column_2">
        <p class="New_BodyText_Header">Microsoft Accelerator for entrepreneurs</p>
        <p class="New_BodyText">The Microsoft Accelerator program is an initiative to empower<br />entrepreneurs. The focus is on later-stage startups, and<br />to provide the tools, resources, connections,<br />knowledge, and expertise needed to build<br />successful companies.</p>
        <br />
        <p class="New_BodyText">My role was Principal Design Lead. I<br />convinced leadership to invest in design<br />education and support for the program,<br />and, then, organized a team of experts from<br />inside and outside of Microsoft to drive the design<br />agenda for the initial Seattle cohort. My team and I also<br />defined a program that was used in subsequent cohorts. My<br />core responsibilities included storytelling, program definition,<br />interaction design, visual design, and art direction.</p>
        <br />
        <p class="New_BodyText">What follows are a few examples from the work my team and<br />I did in this space...</p>
    </div>
</div>
<div id="MainBodyAccelerator">
    <div class="MainBodyInside">
        <div class="New_Line_Top_2"></div>

        <div id="scrollMe_1">
            <p class="New_BodyText_Header2">Program Design &amp; Integration</p>
            <p class="New_BodyText2">Design direction/lead driving design thinking support &amp; integration into the Microsoft Accelerator program</p>
            <div class="BodyImgs">
                <img class="ResizableImg" src="images/Accel_1.png" width="940" height="368"/>
            </div>
        </div>

        <div class="Line0"></div>

        <div id="scrollMe_2">
            <p class="New_BodyText_Header2">Design Week</p>
            <p class="New_BodyText2">Design direction/lead organizing design thinking week led by design experts from inside and outside of Microsoft</p>
            <div class="BodyImgs">
                <img class="ResizableImg" src="images/Accel_2.png" width="1800" height="290" />
            </div>
        </div>

        <div class="Line0"></div>

        <div id="scrollMe_3">
            <p class="New_BodyText_Header2">UX Design</p>
            <p class="New_BodyText2">Design direction/lead for Microsoft Accelerator program</p>
            <div class="BodyImgs">
                <img class="ResizableImg" src="images/Accel_5.png" width="940" height="182" />
            </div>
        </div>

        <div class="Line0"></div>

        <div id="scrollMe_4">
            <p class="New_BodyText_Header2">UI Design</p>
            <p class="New_BodyText2">Design direction/lead for Microsoft Accelerator program</p>
            <div class="BodyImgs">
                <img class="ResizableImg" src="images/Accel_4.png" width="940" height="592" />
            </div>
        </div>

        <div class="Line0"></div>

        <div id="scrollMe_5">
            <p class="New_BodyText_Header2">Brand/Identity Design</p>
            <p class="New_BodyText2">Design direction/lead for Microsoft Accelerator program</p>
            <div class="BodyImgs">
                <img class="ResizableImg" src="images/Accel_3b.png" width="940" height="327" />
            </div>
        </div>
    </div>
</div>
<!-- END: BODY -->