<!-- START: SUBHEADER -->
<div autoscroll="false" subheader5-template></div>
<!-- END: SUBHEADER -->

<!-- START: BODY -->
<div class="MainBody">
    <div class="New_Column_1">
        <div class="MainImg">
            <img class="ResizableBGgmg" src="images/Center_Main.png" height="661" width="647" />
        </div>
    </div>
    <div class="New_Column_2">
        <p class="New_BodyText_Header">Windows Phone Dev Center for learning</p>
        <p class="New_BodyText">Windows Phone Dev Center is the go to place for documentation to<br />assist with learning about the capabilities of Windows Phone and<br />the inner workings of the platform as well as tools to<br />build and manage app deployment, updates, and<br />monetization.</p>
        <br />
        <p class="New_BodyText">My role was Principal Research and Design Lead. My<br />team and I worked on several iterations of the site.<br />Initially, our focus was research and definition of an<br />information architecture appropriate for users. We<br />then designed navigation and content patterns as<br />well as style guides to facilitate work with four content<br />and development teams. My core responsibilities included<br />research, interaction design, visual design, motion design,<br />information design, prototyping, and art direction.</p>
        <br />
        <p class="New_BodyText">What follows are a few examples from the work my team and<br />I did in this space...</p>
    </div>
</div>
<div id="MainBodyAccelerator">
    <div class="MainBodyInside">
        <div class="New_Line_Top_2"></div>

        <div id="scrollMe_1">
            <p class="New_BodyText_Header2">Windows Phone Dev Center Experience</p>
            <p class="New_BodyText2">Windows Phone design applied to merged Windows / Windows Phone Dev Center in 2015 as shown below</p>
            <div style="border: solid 1px #ccc; width: 800px; margin-top: 80px; margin-left: 20px; margin-right: 20px; margin-bottom: 88px;">
                <iframe src="http://player.vimeo.com/video/109346159" width="800" height="451" frameborder="0" style="margin-bottom:-3px;" webkitallowfullscreen=webkitallowfullscreen mozallowfullscreen=mozallowfullscreen allowfullscreen=allowfullscreen></iframe>
            </div>
        </div>

        <div class="Line0"></div>

        <div id="scrollMe_2">
            <p class="New_BodyText_Header2">Landing Page &amp; Primary Navigation</p>
            <p class="New_BodyText2">Design direction/lead for IA, interaction, visual, motion, and information design</p>
            <div class="BodyImgs">
                <img class="ResizableImg" src="images/DevCenter_1a.jpg" height="618" width="940" style="border-top: solid 1px #ddd; border-left: solid 1px #ddd; border-right: solid 1px #ddd; border-bottom: dashed 2px #ccc;" />
            </div>
            <div class="BodyImgs2">
                <img class="ResizableImg" src="images/DevCenter_1b.jpg" height="368" width="940" style="border-top: dashed 2px #ddd; border-left: solid 1px #ddd; border-right: solid 1px #ddd; border-bottom: solid 1px #ccc;" />
            </div>
        </div>

        <div class="Line0"></div>

        <div id="scrollMe_3">
            <p class="New_BodyText_Header2">Secondary Pages &amp; Navigation</p>
            <p class="New_BodyText2">Design direction/lead for IA, interaction, visual, motion, and information design</p>
            <div class="BodyImgs">
                <img class="ResizableImg" src="images/DevCenter_2.jpg" height="762" width="940" style="border-top: solid 1px #ddd; border-left: solid 1px #ddd; border-right: solid 1px #ddd; border-bottom: dashed 2px #ccc;" />
            </div>
        </div>

        <div class="Line0"></div>

        <div id="scrollMe_4">
            <p class="New_BodyText_Header2">Tertiary Pages &amp; Navigation</p>
            <p class="New_BodyText2">Design direction/lead for IA, interaction, visual, motion, and information design</p>
            <div class="BodyImgs">
                <img class="ResizableImg" src="images/DevCenter_3.jpg" height="762" width="940" style="border-top: solid 1px #ddd; border-left: solid 1px #ddd; border-right: solid 1px #ddd; border-bottom: dashed 2px #ccc;" />
            </div>
        </div>

        <div class="Line0"></div>

        <div id="scrollMe_5">
            <p class="New_BodyText_Header2">App Management</p>
            <p class="New_BodyText2">Design direction/lead for IA, interaction, visual, motion, and information design</p>
            <div class="BodyImgs">
                <img class="ResizableImg" src="images/DevCenter_4.jpg" height="762" width="940" style="border-top: solid 1px #ddd; border-left: solid 1px #ddd; border-right: solid 1px #ddd; border-bottom: dashed 2px #ccc;" />
            </div>
            <div class="BodyImgs2">
                <img class="ResizableImg" src="images/DevCenter_5.jpg" height="762" width="940" style="border-top: solid 1px #ddd; border-left: solid 1px #ddd; border-right: solid 1px #ddd; border-bottom: dashed 2px #ccc;" />
            </div>
        </div>
    </div>
</div>
<!-- END: BODY -->