<!-- START: SUBHEADER -->
<div autoscroll="false" subheader1-template></div>
<!-- END: SUBHEADER -->

<!-- START: BODY -->
<div class="MainBody">
    <div class="New_Column_1">
        <div class="MainImg">
            <img class="ResizableBGgmg" src="images/Embed_Main.png" height="661" width="647" />
        </div>
    </div>
    <div class="New_Column_2">
        <p class="New_BodyText_Header">Silverlight extends the platform's reach</p>
        <p class="New_BodyText">In 2010, Silverlight extended it's reach into the embedded<br />devices space. This was an area where Microsoft had a<br />strong foothold with Windows CE, and the intent was to<br />build off the Silverlight RIA platform momentum and<br />enable rapid application development for the creation<br />of rich and immersive embedded device experiences.</p>
        <br />
        <p class="New_BodyText">My role was Senior Research and Design Lead. Much<br />of the developer experience leveraged the work my<br />team and I designed for the Silverlight RIA platform.<br />We also designed and helped build sample apps to<br />both inspire and demonstrate the capabilities of the<br />platform. My core responsibilities included research,<br />interaction design, visual design, motion design,<br />prototyping, and art direction.</p>
        <br />
        <p class="New_BodyText">What follows is an example from the work my team and I<br />did in this space...</p>
    </div>
</div>
<div id="MainBodyAccelerator">
    <div class="MainBodyInside">
        <div class="New_Line_Top_2"></div>

        <div id="scrollMe_1">
            <p class="New_BodyText_Header2">Embedded Device Sample App</p>
            <p class="New_BodyText2">Design for interaction, visual, motion, and prototyping. App announced and demo'd at the <a class="Links" href="http://www.microsoft.com/silverlight/silverlight-4-launch/">Silverlight 4 Launch</a></p>
            <div class="BodyImgs">
                <img class="ResizableImg" src="images/SE_1.jpg" width="940" height="489" />
            </div>
            <div class="BodyImgs2">
                <img class="ResizableImg" src="images/SE_2.jpg" width="940" height="489" />
            </div>
            <div class="BodyImgs2">
                <img class="ResizableImg" src="images/SE_3.jpg" width="940" height="489" />
            </div>
        </div>
    </div>
</div>
<!-- END: BODY -->