<div class="MainFooter">
    <div class="New_Line_Bottom"></div>

    <div class="FooterCopyright">&copy;2017 CORRINA BLACK</div>
    <div class="FooterImgGroup">
        <a class="FooterLinks" href="http://instagram.com/corrina_b">
            <img class="Links" style="background-image:url('images/instagram.png'); height:23px; width:23px;" src="/images/space.png" />
        </a>
        <a class="FooterLinks" href="https://www.linkedin.com/pub/corrina-black/7/4b3/202">
            <img class="Links" style="background-image:url('images/linkedin.png'); height:23px; width:23px; margin-right:10px;" src="images/space.png" />
        </a>
        <a class="FooterLinks" href="https://twitter.com/corrinab">
            <img class="Links" style="background-image:url('images/twitter.png'); height:23px; width:27px; margin-right:10px;" src="images/space.png" />
        </a>
    </div>
</div>