<!-- START: SUBHEADER -->
<div autoscroll="false" subheader5-template></div>
<!-- END: SUBHEADER -->

<!-- START: BODY -->
<div class="MainBody">
    <div class="New_Column_1">
        <div class="MainImg">
            <img class="ResizableBGgmg" src="images/main_free.png" height="661" width="647" />
        </div>
    </div>
    <div class="New_Column_2">
        <p class="New_BodyText_Header" style="width: 620px;">Creative pursuits for an inquiring design mind</p>
        <p class="New_BodyText">Creating in various forms makes me happy... stretching myself<br />and utizlizing my curiosity, empathy, design, code and<br />speaking skills. In my roles over the years, I have<br />sought out extra curricular projects to stay in touch<br />with my passions and to continue to grow my<br />skills as an ever evolving experience creator.</p>
        <br />
        <p class="New_BodyText">My roles have included designer, coder, and<br />speaker. I have designed logos, t-shirts, and posters<br />for small businesses and internal Microsoft projects. I<br />have also designed and developed sample applications for<br />partners speaking at conferences. I have designed, developed,<br />and delivered content at conferences and events as well,<br />including a series of Windows Phone design events I<br />envisioned and led organization for in 13 locations around<br />the globe to engage with and inspire app designers<br />and developers.</p>
        <br />
        <p class="New_BodyText">What follows are a few examples from the work I did in this space...</p>
    </div>
</div>
<div id="MainBodyAccelerator">
    <div class="MainBodyInside">
        <div class="New_Line_Top_2"></div>

        <div id="scrollMe_1">
            <p class="New_BodyText_Header2">Windows Sample App</p>
            <p class="New_BodyText2">Design lead for interaction, visuals, and art direction</p>
            <div class="BodyImgs">
                <img class="ResizableImg" src="images/GD_9.png" height="452" width="940" />
            </div>
        </div>

        <div class="Line0"></div>

        <!--<div id="scrollMe_2">
            <p class="New_BodyText_Header2">Silverlight Embedded Device Sample App</p>
            <p class="New_BodyText2">Design for interaction, visual, motion, and prototyping. App announced and demo'd at the <a class="Links" href="http://www.microsoft.com/silverlight/silverlight-4-launch/">Silverlight 4 Launch</a></p>
            <div class="BodyImgs">
                <img class="ResizableImg" src="images/SE_1.jpg" width="940" height="489" />
            </div>
            <div class="BodyImgs2">
                <img class="ResizableImg" src="images/SE_2.jpg" width="940" height="489" />
            </div>
            <div class="BodyImgs2">
                <img class="ResizableImg" src="images/SE_3.jpg" width="940" height="489" />
            </div>
        </div>

        <div class="Line0"></div>-->

        <div id="scrollMe_2">
            <p class="New_BodyText_Header2">Revive Website</p>
            <p class="New_BodyText2">Explorations in Facebook Login, Twitter, Instagram, Flickr, Angular, and Web Design. Check out a <a class="Links" href="http://corrina-app.appspot.com/" style="cursor:pointer;">work in progress demo</a></p>
            <div class="BodyImgs">
                <img class="ResizableImg" src="images/Revive_Comp.png" height="1916" width="1020" style="border-top: solid 1px #ddd; border-left: solid 1px #ddd; border-right: solid 1px #ddd; border-bottom: dashed 2px #ccc;"  />
            </div>
        </div>

        <div class="Line0"></div>

        <div id="scrollMe_3">
            <p class="New_BodyText_Header2">Visual Studio C++ Persona Poster</p>
            <p class="New_BodyText2">Visual design and art production</p>
            <div class="BodyImgs">
                <img class="ResizableImg" src="images/GD_1_Lg.png" height="1000" width="800" />
            </div>
        </div>

        <div class="Line0"></div>

        <div id="scrollMe_4">
            <p class="New_BodyText_Header2">Windows Phone Design Tour</p>
            <p class="New_BodyText2">Design lead for planning, content creation, and content delivery</p>
            <div class="BodyImgs">
                <img class="ResizableImg" src="images/WPDT_0.png" height="366" width="1739" />
            </div>
        </div>

        <div class="Line0"></div>

        <div id="scrollMe_5">
            <p class="New_BodyText_Header2">Speaking Engagements</p>
            <p class="New_BodyText2">Content creation and content delivery</p>
            <div class="BodyImgs">
                <img class="ResizableImg" src="/images/WPDT_00.png" height="245" width="940" />
                <div style="background-color: rgba(0, 0, 0, .25); position: absolute; margin-top: -154px; width: 379px; height: 154px; float:left;">
                    <a href="http://research.microsoft.com/apps/video/default.aspx?id=167532">
                        <img class="Links2" src="/images/play.png" height="50" width="50" style="position: absolute; margin-top:54px; margin-left:165px;" />
                    </a>
                </div>
                <div style="background-color: rgba(0, 0, 0, .25); position: absolute; margin-top: -154px; margin-left:384px; width: 166px; height: 154px; float: left; ">
                    <a href="http://youtu.be/Iu00gZdhbt0">
                        <img class="Links2" src="/images/play.png" height="50" width="50" style="position: absolute; margin-top:54px; margin-left:60px;" />
                    </a>
                </div>
                <div style="background-color: rgba(0, 0, 0, .5); position: absolute; margin-top: -154px; margin-left: 556px; width: 244px; height: 154px; float: left;">
                    <a href="http://channel9.msdn.com/Events/Build/2013/2-202">
                        <img class="Links2" src="/images/play.png" height="50" width="50" style="position: absolute; margin-top:54px; margin-left:97px;" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END: BODY -->