<div class="HeaderContainer">
    <div class="RotateNav">
        <div class="New_Line_Top">
            <div id="MainNavLinks">
                <div class="NavLine"></div>
                <a class="LinksA" ui-sref="AboutMe">ABOUT ME</a>
            </div>
        </div>
        <div class="New_Line_Top">
            <div id="MainNavLinks">
                <div class="NavLine"></div>
                <a class="LinksA" ui-sref="DesignCodeSpeaking">DESIGN + CODE + SPEAKING</a>
            </div>
        </div>
        <div class="New_Line_Top">
            <div id="MainNavLinks">
                <div class="NavLine"></div>
                <a class="LinksA" ui-sref="VisualStudio">VISUAL STUDIO</a>
            </div>
        </div>
        <div class="New_Line_Top">
            <div id="MainNavLinks">
                <div class="NavLine"></div>
                <a class="LinksA" ui-sref="SilverlightRIA">SILVERLIGHT RIA PLATFORM</a>
            </div>
        </div>
        <div class="New_Line_Top">
            <div id="MainNavLinks">
                <div class="NavLine"></div>
                <a class="LinksA" ui-sref="SilverlightEmbedded">SILVERLIGHT EMBEDDED<br />PLATFORM</a>
            </div>
        </div>
        <div class="New_Line_Top">
            <div id="MainNavLinks">
                <div class="NavLine"></div>
                <a class="LinksA" ui-sref="PhoneDevTools">WINDOWS PHONE<br />DEV TOOLS</a>
            </div>
        </div>
        <div class="New_Line_Top">
            <div id="MainNavLinks">
                <div class="NavLine"></div>
                <a class="LinksA" ui-sref="PhoneDevCenter">WINDOWS PHONE<br />DEV CENTER</a>
            </div>
        </div>
        <div class="New_Line_Top">
            <div id="MainNavLinks">
                <div class="NavLine"></div>
                <a class="LinksA" ui-sref="WindowsPhone">WINDOWS PHONE 8.1</a>
            </div>
        </div>
        <div class="New_Line_Top">
            <div id="MainNavLinks">
                <div class="NavLine"></div>
                <a class="LinksA" onclick="alert('coming soon');">MICROSOFT IOT</a>
            </div>
        </div>
        <div class="New_Line_Top">
            <div id="MainNavLinks">
                <div class="NavLine"></div>
                <a class="LinksA" ui-sref="MicrosoftAccelerator">MICROSOFT ACCELERATOR</a>
            </div>
        </div>
    </div>
</div>