<!-- START: SUBHEADER -->
<div autoscroll="false" subheader3-template></div>
<!-- END: SUBHEADER -->

<!-- START: BODY -->
<div class="MainBody">
    <div class="New_Column_1">
        <div class="MainImg">
            <img class="ResizableBGgmg" src="images/1_IOT_Main.png" height="661" width="647" />
        </div>
    </div>
    <div class="New_Column_2">
        <p class="New_BodyText_Header">Microsoft IoT for<br />a connected world</p>
        <p class="New_BodyText">Microsoft IoT provides an ever growing suite of solutions<br />from Windows IoT core to advanced data analytics in an<br />effort to meet the needs of consumers and businesses<br />in a device, software, and service connected world.</p>
        <br />
        <!--<p class="New_BodyText">My role was Principal Design Lead. My team and<br />I led research to understand the competitive<br />landscape and user motivations. We also<br />collaborated with engineering to identify<br />market opportunities and to define a Ux vision,<br />as well as a recommendation for evolutionary and<br />iterative product suite updates. My core responsibilities<br />included user research, market analysis, Ux vision definition,<br />storytelling, prototyping, and art direction.</p>-->
        <p class="New_BodyText">My role was Principal Design Lead. My team and<br />I led research to understand the competitive<br />landscape and user motivations. We also<br />collaborated with engineering to identify<br />market opportunities and to define a Ux vision<br />demonstrating the future value of IoT for both<br />consumers and businesses. My core responsibilities<br />included user research, market analysis, Ux vision<br />definition, storytelling, prototyping, and art direction.</p>
        <br />
        <p class="New_BodyText">What follows are a few examples from the work my team<br />and I did in this space...</p>
    </div>
</div>
<div id="MainBodyAccelerator">
    <div class="MainBodyInside">
        <div class="New_Line_Top_2"></div>

        <div id="scrollMe_1">
            <p class="New_BodyText_Header2">Research &amp; Scenario Exploration</p>
            <p class="New_BodyText2">Design direction/lead for competitive understanding, user research, and scenario exploration</p>
            <div class="BodyImgs">
                <img class="ResizableImg" src="images/iot_0.png" width="839" height="243"/>
            </div>
            <div class="BodyImgs2">
                <img class="ResizableImg" src="images/iot_1.png" width="2555" height="375"/>
            </div>
            <div class="BodyImgs2">
                <img class="ResizableImg" src="images/iot_2.png" width="3961" height="807" />
            </div>
        </div>

        <div class="Line0"></div>

        <div id="scrollMe_2">
            <p class="New_BodyText_Header2">Problem & Opportunity Analysis</p>
            <p class="New_BodyText2">Design direction/lead for problem and opportunity analysis, review, and iteration</p>
            <div class="BodyImgs">
                <img class="ResizableImg" src="images/value_0.png"  width="3961" height="807" />
            </div>
            <div class="BodyImgs2" style="margin-top: 50px;">
                <img class="ResizableImg" src="images/value_1.png" width="3961" height="807" />
            </div>
        </div>

        <div class="Line0"></div>

        <div id="scrollMe_3">
            <p class="New_BodyText_Header2">Vision &amp; Storytelling</p>
            <p class="New_BodyText2">Design direction/lead for Ux vision and storytelling to explore the future value of IoT</p>
            <!--<div class="BodyImgs" style="margin-bottom: 5px;">
                <img class="ResizableImg" src="images/story_1.png" width="3961" height="807" />
            </div>
            <div class="BodyImgs2" style="margin-top: 0px;">
                <img class="ResizableImg" src="images/story_2.png" width="3961" height="807" />
            </div>-->
            <div class="BodyImgs">
                <img class="ResizableImg" src="images/DamnIt.png" width="3961" height="807" />
            </div>
            <div style="border: solid 1px #ccc; width: 800px; margin-top: 80px; margin-left: 20px; margin-right: 20px; margin-bottom: 88px;">
                <iframe src="http://player.vimeo.com/video/205157025" width="800" height="451" frameborder="0" style="margin-bottom:-3px;" webkitallowfullscreen=webkitallowfullscreen mozallowfullscreen=mozallowfullscreen allowfullscreen=allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
<!-- END: BODY -->