<!-- START: SUBHEADER -->
<div autoscroll="false" subheader6-template></div>
<!-- END: SUBHEADER -->

<!-- START: BODY -->
<div class="MainBody">
    <div class="New_Column_1">
        <div class="MainImg">
            <img class="ResizableBGgmg" src="images/Phone_Main.png" height="661" width="647" />
        </div>
    </div>
    <div class="New_Column_2">
        <p class="New_BodyText_Header">Windows Phone 8.1<br/>for people power</p>
        <p class="New_BodyText">Windows Phone 8.1 was the fourth release of a new Windows<br />Phone operating system with an innovative design language,<br />targeting capacitive touch devices, and ushering Microsoft<br />into the mobile first world.</p>
        <br />
        <p class="New_BodyText">My role was Principal Design Lead. My team and I designed the<br />phone's first-party app experiences including camera, photo<br />hub, calendar, email, music &amp; entertainment, games, internet<br />explorer, and phone companion apps for Windows. We<br />designed or consulted on key third-party app experiences<br />as well. We also designed a framework for custom lock<br />screen experiences. My core responsibilities included<br />interaction design, visual design, motion design,<br />prototyping, and art direction.</p>
        <br />
        <p class="New_BodyText">What follows are a few examples from the work my team and<br />I did in this space...</p>
    </div>
</div>
<div id="MainBodyAccelerator">
    <div class="MainBodyInside">
        <div class="New_Line_Top_2"></div>

        <div id="scrollMe_1">
            <p class="New_BodyText_Header2">Windows Phone 8.1 Experience</p>
            <p class="New_BodyText2">Design direction across all Windows Phone 8.1 features as a design lead</p>
            <div style="border: solid 1px #ccc; width: 800px; margin-top: 80px; margin-left: 20px; margin-right: 20px; margin-bottom: 88px;">
                <iframe src="http://www.youtube.com/embed/xL_u52AaEw0" width="800" height="451" frameborder="0" style="margin-bottom:-3px;" webkitallowfullscreen=webkitallowfullscreen mozallowfullscreen=mozallowfullscreen allowfullscreen=allowfullscreen></iframe>
            </div>
        </div>

        <div class="Line0"></div>

        <div id="scrollMe_2">
            <p class="New_BodyText_Header2">Camera</p>
            <p class="New_BodyText2">Design direction/lead for interaction, visual, and motion</p>
            <div class="BodyImgs">
                <img class="ResizableImg" src="images/WP_Cam_1_A.png" height="650" width="940" />
            </div>
        </div>

        <div class="Line0"></div>

        <div id="scrollMe_3">
            <p class="New_BodyText_Header2">Photo Hub</p>
            <p class="New_BodyText2">Design direction/lead for interaction, visual, and motion</p>
            <div class="BodyImgs">
                <img class="ResizableImg" src="images/WP_PhotoHub_A.png" height="650" width="940" />
            </div>
        </div>

        <div class="Line0"></div>

        <div id="scrollMe_4">
            <p class="New_BodyText_Header2">Calendar</p>
            <p class="New_BodyText2">Design direction/lead for interaction, visual, and motion</p>
            <div class="BodyImgs">
                <img class="ResizableImg" src="images/WP_Cal_A.png" height="650" width="940" />
            </div>
        </div>

        <div class="Line0"></div>

        <div id="scrollMe_5">
            <p class="New_BodyText_Header2">Third-Party Apps</p>
            <p class="New_BodyText2">Design direction and/or collaboration and guidance with third-party design teams</p>
            <div class="BodyImgs">
                <img class="ResizableImg" src="images/Apps_1_A.png" height="650" width="940" />
            </div>
            <div class="BodyImgs2">
                <img class="ResizableImg" src="images/Apps_2_A.png" height="650" width="940" />
            </div>
        </div>

        <div class="Line0"></div>

        <div id="scrollMe_6">
            <p class="New_BodyText_Header2">Lock Screen App Framework</p>
            <p class="New_BodyText2">Design direction/lead for interaction, visual, and motion</p>
            <div class="BodyImgs">
                <img class="ResizableImg" src="images/WP_Loc_2_A.png" height="650" width="940" />
            </div>
        </div>
    </div>
</div>
<!-- END: BODY -->