<div class="MainSubHeader">
    <!-- START: SUBHEADER A -->
    <div id="Sub_Navigation_A">
        <div id="scrollMe" class="New_BodyText_Details_AA">
            <span id="Links">TOP</span>
        </div>
        <div id="scrollMe1" class="New_BodyText_Details_A">
            <span id="Links">1</span>
        </div>
        <div id="scrollMe2" class="New_BodyText_Details_A">
            <span id="Links">2</span>
        </div>
        <div id="scrollMe3" class="New_BodyText_Details_A">
            <span id="Links">3</span>
        </div>
        <div id="scrollMe4" class="New_BodyText_Details_A">
            <span id="Links">4</span>
        </div>
        <div id="scrollMe5" class="New_BodyText_Details_A">
            <span id="Links">5</span>
        </div>
        <div id="scrollMe6" class="New_BodyText_Details_A_Bottom">
            <span id="Links">6</span>
        </div>
    </div>
    <!-- END: SUBHEADER A -->

    <!-- START: SUBHEADER B-->
    <div id="Sub_Navigation_B">
        <div class="Sub_Navigation_Container_B">
            <div id="scrollMe">
                <div id="Links" class="New_BodyText_GoToTop_B">BACK TO TOP</div>
            </div>
            <div id="scrollMe6">
                <span id="Links" class="New_BodyText_Details_B">6</span>
            </div>
            <div id="scrollMe5">
                <span id="Links" class="New_BodyText_Details_B">5</span>
            </div>
            <div id="scrollMe4">
                <span id="Links" class="New_BodyText_Details_B">4</span>
            </div>
            <div id="scrollMe3">
                <span id="Links" class="New_BodyText_Details_B">3</span>
            </div>
            <div id="scrollMe2">
                <span id="Links" class="New_BodyText_Details_B">2</span>
            </div>
            <div id="scrollMe1">
                <span id="Links" class="New_BodyText_Details_B">1</span>
            </div>
            <div class="New_BodyText_Details_2_B">SECTIONS</div>
        </div>
    </div>
    <!-- END: SUBHEADER B -->
</div>