<!-- START: SUBHEADER -->
<div autoscroll="false" subheader5-template></div>
<!-- END: SUBHEADER -->

<!-- START: BODY -->
<div class="MainBody">
    <div class="New_Column_1">
        <div class="MainImg">
            <img class="ResizableBGgmg" src="images/Tools_Main.png" height="661" width="647" />
        </div>
    </div>
    <div class="New_Column_2">
        <p class="New_BodyText_Header">Windows Phone dev tools for creating</p>
        <p class="New_BodyText">Windows Phone 7 apps were created with either XNA or<br />Silverlight, and there were robust dev tools to support<br />rapid application development in both Visual Studio<br />and Expression Blend.</p>
        <br />
        <p class="New_BodyText">My role was Senior Research and Design Lead. My<br />team and I defined the target developer persona, and<br />we designed rapid application development tools in<br />both Visual Studio and Expression Blend including<br />the phone emulator, aspects of the design time<br />experience, project templates, and profiling tools. My<br />core responsibilities included research, interaction<br />design, visual design, motion design, prototyping, and<br />art direction.</p>
        <br />
        <p class="New_BodyText">What follows are a few examples from the work my team<br />and I did in this space...</p>
    </div>
</div>
<div id="MainBodyAccelerator">
    <div class="MainBodyInside">
        <div class="New_Line_Top_2"></div>

        <div id="scrollMe_1">
            <p class="New_BodyText_Header2">Windows Phone Dev Tools Experience</p>
            <p class="New_BodyText2">Walkthrough of the basic accelerometer emulator experience</p>
            <div style="border: solid 1px #ccc; width: 800px; margin-top: 80px; margin-left: 20px; margin-right: 20px; margin-bottom: 88px;">
                <iframe src="http://player.vimeo.com/video/108423778" width="800" height="451" frameborder="0" style="margin-bottom:-3px;" webkitallowfullscreen=webkitallowfullscreen mozallowfullscreen=mozallowfullscreen allowfullscreen=allowfullscreen></iframe>
            </div>
        </div>

        <div class="Line0"></div>

        <div id="scrollMe_2">
            <p class="New_BodyText_Header2">Phone Emulator</p>
            <p class="New_BodyText2">Design for interaction, visual, and motion</p>
            <div class="BodyImgs">
                <img class="ResizableImg" src="images/SWP_1.jpg" height="615" width="940" />
            </div>
            <div class="BodyImgs2">
                <img class="ResizableImg" src="images/SWP_2.jpg" height="615" width="940" />
            </div>
        </div>

        <div class="Line0"></div>

        <div id="scrollMe_3">
            <p class="New_BodyText_Header2">Design Time Tools</p>
            <p class="New_BodyText2">Design for interaction, visual, and motion</p>
            <div class="BodyImgs">
                <img class="ResizableImg" src="images/Cider_1.png" height="615" width="940" />
            </div>
        </div>

        <div class="Line0"></div>

        <div id="scrollMe_4">
            <p class="New_BodyText_Header2">Project Templates</p>
            <p class="New_BodyText2">Design for interaction and visual</p>
            <div class="BodyImgs">
                <img class="ResizableImg" src="images/PhoneTemplates.png" height="398" width="940" />
            </div>
        </div>

        <div class="Line0"></div>

        <div id="scrollMe_5">
            <p class="New_BodyText_Header2">Profiling Tools</p>
            <p class="New_BodyText2">Design for interaction, visual, and motion</p>
            <div class="BodyImgs">
                <img class="ResizableImg" src="images/Prof_1.png" height="724" width="940" />
            </div>
            <div class="BodyImgs2">
                <img class="ResizableImg" src="images/Prof_2.png" height="724" width="940" />
            </div>
        </div>
    </div>
</div>
<!-- END: BODY -->