<!-- START: SUBHEADER -->
<div autoscroll="false" subheader6-template></div>
<!-- END: SUBHEADER -->

<!-- START: BODY -->
<div class="MainBody">
    <div class="New_Column_1">
        <div class="MainImg">
            <img class="ResizableBGgmg" src="images/VS_Main.png" height="661" width="647" />
        </div>
    </div>
    <div class="New_Column_2">
        <p class="New_BodyText_Header">Visual Studio power for development needs</p>
        <p class="New_BodyText">Visual Studio is an integrated development environment (IDE)<br />used to build Windows apps, websites, and web services. It<br />supports a variety of programming languages and<br />includes editors, visual designers, code navigation,<br />debugging, and code refactoring tools as well as tools<br />for the software develoment life cycle.</p>
        <br />
        <p class="New_BodyText">My role was Design Lead. I led design for editor and<br />code navigation, code refactoring, debugging, the<br />class designer, and source control. I also contributed<br />to the envisioning effort for Visual Studio Team<br />System which was targeted at large scale software<br />development life cycle support. My core<br />responsibilities included interaction design, visual<br />design, motion design, and art production.</p>
        <br />
        <p class="New_BodyText">What follows are a few examples from the work I did in this<br />space...</p>
    </div>
</div>
<div id="MainBodyAccelerator">
    <div class="MainBodyInside">
        <div class="New_Line_Top_2"></div>

        <div id="scrollMe_1">
            <p class="New_BodyText_Header2">Visual Studio Experience</p>
            <p class="New_BodyText2">Walkthrough of editor, code navigation, and debugging</p>
            <div style="border: solid 1px #ccc; width: 800px; margin-top: 80px; margin-left: 20px; margin-right: 20px; margin-bottom: 88px;">
                <iframe src="http://player.vimeo.com/video/108385594" width="800" height="451" frameborder="0" style="margin-bottom:-3px;" webkitallowfullscreen=webkitallowfullscreen mozallowfullscreen=mozallowfullscreen allowfullscreen=allowfullscreen></iframe>
            </div>
        </div>

        <div class="Line0"></div>

        <div id="scrollMe_2">
            <p class="New_BodyText_Header2">Dockable Find &amp; Replace</p>
            <p class="New_BodyText2">Design for interaction, visual, motion, and art production</p>
            <div class="BodyImgs">
                <img class="ResizableImg" src="images/VS_1.jpg" height="578" width="940" />
            </div>
            <div class="BodyImgs2">
                <img class="ResizableImg" src="images/VS_2.jpg" height="578" width="940" />
            </div>
        </div>

        <div class="Line0"></div>

        <div id="scrollMe_3">
            <p class="New_BodyText_Header2">Editor &amp; Code Navigation</p>
            <p class="New_BodyText2">Design for interaction, visual, motion, and art production</p>
            <div class="BodyImgs">
                <img class="ResizableImg" src="images/VS_3.jpg" height="578" width="940" />
            </div>
            <div class="BodyImgs2">
                <img class="ResizableImg" src="images/VS_4.jpg" height="578" width="940" />
            </div>
            <div class="BodyImgs2">
                <img class="ResizableImg" src="images/VS_6.jpg" height="578" width="940" />
            </div>
        </div>

        <div class="Line0"></div>

        <div id="scrollMe_4">
            <p class="New_BodyText_Header2">Editor Smart Tags</p>
            <p class="New_BodyText2">Design for interaction, visual, motion, and art production</p>
            <div class="BodyImgs">
                <img class="ResizableImg" src="images/VS_7.jpg" height="578" width="940" />
            </div>
            <div class="BodyImgs2">
                <img class="ResizableImg" src="images/VS_8.jpg" height="578" width="940" />
            </div>
        </div>

        <div class="Line0"></div>

        <div id="scrollMe_5">
            <p class="New_BodyText_Header2">Debugging Data Tips &amp; Symbols</p>
            <p class="New_BodyText2">Design for interaction, visual, motion, and art production</p>
            <div class="BodyImgs">
                <img class="ResizableImg" src="images/VS_10.jpg" height="578" width="940" />
            </div>
            <div class="BodyImgs2">
                <img class="ResizableImg" src="images/VS_11.jpg" height="578" width="940" />
            </div>
        </div>

        <div class="Line0"></div>

        <div id="scrollMe_6">
            <p class="New_BodyText_Header2">Class Designer</p>
            <p class="New_BodyText2">Design for interaction, visual, motion, and art production</p>
            <div class="BodyImgs">
                <img class="ResizableImg" src="images/VS_13.jpg" height="719" width="940" />
            </div>
        </div>
    </div>
</div>
<!-- END: BODY -->